<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<security:http auto-config="true" use-expressions="true"
		once-per-request="false" access-denied-page="/pages/index.schola?login_erro=2">
		<security:intercept-url pattern="/login.schola"
			access="permitAll" />
		<security:intercept-url pattern="/pages/**"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/pages/academico/**"
			access="hasRole('ROLE_ACA')" />
		<security:intercept-url pattern="/pages/administrativo/**"
			access="hasRole('ROLE_ADM')" />
		<security:intercept-url pattern="/pages/usuarios/**"
			access="hasRole('ROLE_USR')" />
		<security:intercept-url pattern="/pages/financeiro/**"
			access="hasRole('ROLE_FIN')" />
		<security:logout logout-success-url="/login.schola" />
		<security:form-login login-page="/login.schola"
			authentication-failure-url="/login.schola?login_erro=1"
			always-use-default-target="true" default-target-url="/pages/index.schola" />
	</security:http>
	<security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder hash="sha" />
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="SELECT user_name , password , enable FROM tb_user_login WHERE user_name=?"
				authorities-by-username-query="select ul.user_name, ur.userrole from tb_user_roles as ur, tb_user_login as ul, tb_user_login_tb_user_roles as ulr where ul.user_name = ulr.tb_user_login_user_name and ur.id = ulr.permissoes_id and ul.user_name = ?" />
		</security:authentication-provider>
	</security:authentication-manager>
</beans>